<% for user in users do %>
	<% if user.id.to_i != session[:user_id].to_i || params[:id].to_i == user.id.to_i then %>
		<div class="container user center-block">
			<h3>
				<a href="/users/index/<%= user.id %>"><%= user.first_name + " " + user.last_name %></a>
			</h3>
			<img src="<%= user.image_url %>" class="img-responsive img-rounded" alt="<%= user.first_name %>">
			<p><%= user.description %></p>
			<hr>
			<h2>Attending:</h2>

			<% for event in user.events do %>
				<p>
					<a href="/events/index/<%= event.id %>"><%= event.title %></a>
				</p>
			<% end %>

		</div>
		<hr>
	<% end %>
<% end %>