<% for user in users do %>
	<div class="container user center-block">
		<h3>
			<a href="/users/index/<%= user.id %>"><%= user.first_name + " " + user.last_name %></a>
		</h3>
		<img src="<%= user.image %>" class="img-responsive img-rounded" alt="<%= user.first_name %>">
		<p><%= user.description %></p>
		<hr>

    	<%= form_for @new_friendship, url: {:controller => "users", :action => "request_friend"}, html: {class: "form-horizontal", role: "form"} do |f|%>
	  		<div class="form-group">
	    		<div class="col-sm-offset-2 col-sm-10">
	    			<% if requested then %>
	    				<%= f.submit "Friend Requested", disabled: "", class: "btn btn-default btn-block", id: "update_button" %>
	    			<% else %>
	    				<%= f.submit "Add Friend", class: "btn btn-success btn-block", id: "add_friend_button" %>
	    			<% end %>
	    		</div>
	  		</div>
	  		<div class="form-group">
	  			<div class="container col-sm-offset-2 col-sm-10 cancel-back-button">
					<%= link_to_function "Back", "history.back()", class: "btn btn-primary btn-block" %>
	    		</div>
	    		<%= f.text_field(:user_id, class: "form-control hidden user_id", value:"#{session[:user_id]}") %>
	    		<%= f.text_field(:friend_id, class: "form-control hidden user_id", value:"#{user.id}") %>
	  		</div>
		<% end %>

	</div>
	<hr>
<% end %>