<% if users.length > 0 then %>
	<h3 class="friend-request-heading">Friend Requests</h3>
	<hr>
	<ul class="media-list">
	<% for user in users do %>
		<li class="media no-tab-spacing request-tab user-tab">
			<a class="pull-left" href="/users/index/<%= user.id %>">
				<div class="col-xs-12 tab-image">
					<div class="circular-image media-object user-tab-icon img-responsive" alt="<%=user.first_name%>" style="background-image:url('/users/serve_photo/<%= user.image %>')"></div>
				</div>
			</a>
			<div class="media-body user-tab-centered">
				<h4 class="media-heading">
					<a href="/users/index/<%= user.id %>"><%= user.first_name + " " + user.last_name %></a>
				</h4>
				<p><%= user.username %></p>
			</div>
			<span class="pull-right">
				<form action="/users/accept_request" class="form-horizontal form-inline request-form" role="form" id="accept_request_form">
					<input type="text" class="form-control hidden" name="user_id" id="accept-request-input" value="<%= user.id %>">
					<button class="btn btn-success request-button" role="button" type="submit"> Add </button>
				</form>
				<form action="/users/ignore_request" class="form-horizontal form-inline request-form" role="form" id="accept_request_form">
					<input type="text" class="form-control hidden" name="user_id" id="deny-request-input" value="<%= user.id %>">
					<button class="btn btn-default request-button" role="button" type="submit"> Ignore </button>
				</form>
			</span>
		</li>
		<hr class="divide-user-tabs">
	<% end %>
	</ul>
	<h3>Friends</h3>
	<hr>
<% end %>