<ul class="media-list">
<% for user in users do %>
	<% if user.id.to_i != session[:user_id].to_i || params[:id].to_i == user.id.to_i then %>
		<li class="media no-tab-spacing user-tab">
			<a class="pull-left" href="#">
				<div class="col-xs-12 tab-image">
					<div class="circular-image media-object img-responsive" alt="<%=user.first_name%>" style="background-image:url('/users/serve_photo/<%= user.image %>')"></div>
				</div>
			</a>
			<div class="media-body user-tab-centered">
				<h4 class="media-heading">
					<a href="/users/index/<%= user.id %>"><%= user.first_name + " " + user.last_name %></a>
				</h4>
				<p><%= user.username %></p>
			</div>
		</li>
		<hr class="divide-user-tabs">
	<% end %>
<% end %>
</ul>