	<% for user in users do %>
		<div class="container user center-block">
			<h3>
				<a href="/users/index/<%= user.id %>"><%= user.first_name + " " + user.last_name %></a>
			</h3>
			<div class="col-xs-12 square-profile-picture">
				<div class="square-image media-object img-responsive" alt="<%=user.first_name%>" style="background-image:url('/users/serve_photo/<%= user.image %>')"></div>
			</div>
			<div class="container">
			<hr>
			<p><%= user.description %></p>
			<hr>
			</div>
			<% logged_in_user = User.find(session[:user_id].to_i) %>
			<% @events = user.getCurrentEventsAttending %>
			<% if !@events.nil? then %>
				<% @events = @events.sort{|a, b| Event.chronological_sort(a, b)} %>
			<% end %>
			<% if !@events.blank? then %>
				<% @user_name = user.first_name %>
				<% @verb = "is" %>
				<% if user.id.to_i == session[:user_id].to_i then %>
					<% @user_name = "you" %>
					<% @verb = "are" %>
				<% end %>
				<h4 class="is-attending"><a href ="/users/index/<%= user.id %>"><%= @user_name %></a> <%= @verb %> attending</h4>
				<div class="container fitted-event">
					<%= render partial: "events/event_tab", locals: { events: @events} %>
				</div>
			<% elsif user.id == session[:user_id].to_i then %>
				<div class="empty-account-prompt">
					<h5>You are not currently attending any events</h5>
					<p><a href="/events/create">click here to create a new event</a></p>
					<p><a href="/users/search_results">click here to add a new friend</a></p>
				</div>
			<% end %>

			<form action="/users/delete_friend" class="form-horizontal" role="form">
				<% if !home_account then %>
		  			<div class="form-group">
		  				<input type="text" class="form-control hidden" name="user_id" id="accept-request-input" value="<%= user.id %>">
		    			<div class="col-sm-offset-1 col-sm-10">
		    				<button class="btn btn-danger btn-block" id="update_button">Remove Friend</button>
		    			</div>
		  			</div>
		  		<% end %>
			</form>

		</div>
		<hr>
	<% end %>

