<div class="container" id="edit-user-form">
	<% if @user.errors.any? %>
		<h3 class="error-message">Errors: <%= pluralize(@user.errors.count, "error") %> prohibited this record from being saved</h3>
		<ul>
			<% @user.errors.full_messages.each do |msg| %>
				<li class="error-message"><%= msg %></li>
			<% end %>
		</ul>
	<% end %>
	<%= form_for @user, url: {action: "update"}, html: {class: "form-horizontal", role: "form"} do |f| %>
	<input name="method" type="hidden" value="patch" />
		<div class="form-group">
	  		<%= label_tag(:first_name, "First Name", class: "col-sm-2 control-label" ) %>
	    	<div class="col-sm-10">
	    		<%= f.text_field(:first_name, class: "form-control", value: "#{@user.first_name}") %>
	    	</div>
	    </div>
	    <div class="form-group">
	  		<%= label_tag(:last_name, "Last Name", class: "col-sm-2 control-label" ) %>
	    	<div class="col-sm-10">
	    		<%= f.text_field(:last_name, class: "form-control", value: "#{@user.last_name}") %>
	    	</div>
	    </div>
	    <div class="form-group">
	  		<%= label_tag(:description, "About Me", class: "col-sm-2 control-label") %>
	    	<div class="col-sm-10">
	    		<%= f.text_area(:description, class: "form-control about-field", value: "#{@user.description}") %>
	    	</div>
	    </div>

	    <div class="form-group container">
		    <div class="center-block">
		   		<img src="<%= @user.image %>" class="img-responsive edit-user-image img-rounded" alt="<%= @user.first_name %>">
		   	</div>
		</div>

	    <div class="form-group">
	  		<%= label_tag(:image, "Profile Picture", class: "col-sm-2 control-label") %>
	    	<div class="col-sm-10">
	    		<%= f.file_field(:image, accept: "image/png,image/gif,image/jpeg", class: "form-control") %>
	    	</div>
	    </div>
	  <div class="form-group">
	  	<%= label_tag(:username, "Username", class: "col-sm-2 control-label" ) %>
	    <div class="col-sm-10">
	    	<%= f.text_field(:username, class: "form-control", value: "#{@user.username}") %>
	    </div>
	  </div>
	  <div class="form-group">
	    <%= label_tag(:password, "Password", class: "col-sm-2 control-label" ) %>
	    <div class="col-sm-10">
	    	<%= f.password_field(:password, class: "form-control", value: "#{@user.password}") %>
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	    	<%= f.submit "Update", class: "btn btn-primary btn-block", id: "update_button" %>
	    </div>
	  </div>
	   <div class="form-group">
		   <div class="col-sm-offset-2 col-sm-10">
		  	<a href="/users/index/<%= @user.id %>" class="btn btn-danger btn-block" id="friends_button" role="button">Cancel</a>
		  </div>
		</div>
	<% end %>
	<p id="delete-account-link"><a href="/users/delete_account">Delete Account</a></p>
</div>
