<div class="container" id="edit-event-form">
	<% if @event.errors.any? %>
		<h3 class="error-message">Errors: <%= pluralize(@event.errors.count, "error") %> prohibited this record from being saved</h3>
		<ul>
			<% @event.errors.full_messages.each do |msg| %>
				<li class="error-message"><%= msg %></li>
			<% end %>
		</ul>
	<% end %>
	<%= form_for @event, url: {action: "update/#{@event.id}"}, html: {class: "form-horizontal", role: "form"} do |f|%>
		<div class="form-group">
	  		<%= label_tag(:title, "Title", class: "col-sm-2 control-label" ) %>
	    	<div class="col-sm-10">
	    		<%= f.text_field(:title, class: "form-control", value: "#{@event.title}") %>
	    	</div>
	    </div>
	    <div class="form-group">
	  		<%= label_tag(:description, "Description", class: "col-sm-2 control-label") %>
	    	<div class="col-sm-10">
	    		<%= f.text_area(:description, class: "form-control about-field", value: "#{@event.description}") %>
	    	</div>
	    </div>
	    <div class="form-group">
	  		<%= label_tag(:date, "Date", class: "col-sm-2 control-label" ) %>
	    	<div class="col-sm-10">
	    		<%= f.text_field(:date, class: "form-control", id: "datepicker", value: "#{@event.date}") %>
	    	</div>
	    </div>
		<div class="form-group">
	  		<%= label_tag(:time, "Time", class: "col-sm-2 control-label" ) %>
	    	<div class="col-sm-10">
	    		<%= f.text_field(:time, class: "form-control", id: "timepicker", value: "#{@event.time}") %>
	    	</div>
	    </div>
	  	<div class="form-group">
	  		<%= label_tag(:place, "Venue Name", class: "col-sm-2 control-label" ) %>
	    	<div class="col-sm-10">
	    		<%= f.text_field(:place, class: "form-control", value: "#{@event.place}") %>
	    	</div>
	    </div>
	    <div class="form-group">
	  		<%= label_tag(:address, "Address", class: "col-sm-2 control-label" ) %>
	    	<div class="col-sm-10">
	    		<%= f.text_field(:address, class: "form-control", value: "#{@event.address}") %>
	    	</div>
	    </div>
	  	<div class="form-group">
	    	<div class="col-sm-offset-2 col-sm-10">
	    		<%= f.submit "Update Event", class: "btn btn-primary btn-block", id: "create-event-button" %>
	    	</div>
	  	</div>
	  	<div class="form-group">
	  		<div class="container col-sm-offset-2 col-sm-10 cancel-back-button">
				<%= link_to_function "Cancel", "history.back()", class: "btn btn-danger btn-block" %>
	    	</div>
	  	</div>
	<% end %>
	<p id="delete-account-link"><a href="/users/destroy/<%= @event.id %>">Delete Event</a></p>
</div>
