<!DOCTYPE html>
<html>
<head>
  <title>Socialize</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
      <script>
      $(function(){
      	$("#datepicker").prop('readonly', true);
      	$("#timepicker").prop('readonly', true);
      	$('#datepicker').datepicker({
			minDate: 0,
			defaultValue: new Date(),
		});
		$("#timepicker").timepicker({
			controlType: 'select',
			timeFormat: "h:mm tt",
			stepHour: 1,
			stepMinute: 1
		});
      });
    /*$(function(){
        $.datepicker.setDefaults(
          $.extend($.datepicker.regional[''])
        );
        $.datepicker.formatTime("hh:mm tt", null, "");
        $("#datepicker").prop('readonly', true);
        $('#datepicker').datepicker({
          beforeShow: function(input) {
            $(input).css('background-color','#ff0');
          },
          onSelect: function(dateText, obj) {
            $(this).css('background-color','');
          }
        });
    });*/
    </script>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
  	<div class="navbar-header">
  		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-nav">
  			<span class="sr-only">Toggle navigation</span>
  			<span class="icon-bar"></span>
  			<span class="icon-bar"></span>
  			<span class="icon-bar"></span>
    	</button>
  		<a class="navbar-brand" href="/events/index/">Socialize</a>
  	</div>

  	<% if session[:logged_in] then %>
  		<% logged_in_user = User.find(session[:user_id].to_i) %>
	    <div class="collapse navbar-collapse" id="top-nav">
	    	<p class="navbar-text navbar-right">Hi <a href="/users/index/<%= logged_in_user.id %>" class="navbar-link"><%= logged_in_user.first_name %></a>!</p>
	          <ul class="nav navbar-nav">
	            <li><a href="/users/index/<%= session[:user_id] %>">My Account</a></li>
	            <li><a href="/events/logout">Logout</a></li>
	          </ul>
	    </div>
	<% end %>
  </div>
</nav>

<div class="container" id="app_header">

<% if session[:logged_in] then %>
	
	<% logged_in_user = User.find(session[:user_id].to_i) %>
	<% num_friend_requests = logged_in_user.getNumFriendRequests %>
	<% num_events_now = logged_in_user.getNumEventsAttendingNow %>
	<% home_selected = "" %>
	<% friends_selected ="" %>
	<% account_selected ="" %>
	<% if controller.controller_name.eql?("users") then %>
		<% if params[:id].to_i == session[:user_id].to_i then %>
			<% account_selected = "active" %>
		<% else %>
			<% friends_selected = "active" %>
		<% end %>
	<% else %>
		<% home_selected = "active" %>
	<% end %>

	<% if num_friend_requests == 0 then %>
		<% num_friend_requests = "" %>
	<% end %>
	<% if num_events_now == 0 then %>
		<% num_events_now = "" %>
	<% end %>

	<div class="bt-group btn-group-justified" id="app_nav">
		<a href="/events/index" class="btn btn-primary <%= home_selected %>" id="home_button" role="button">Events <span id="home_badge" class="badge pull-right"><%= num_events_now %></span></a>
		<a href="/users/index" class="btn btn-primary <%= friends_selected %>" id="friends_button" role="button">Friends <span id="friends_badge" class="badge pull-right"><%= num_friend_requests %></span></a>
	</div>

<% else %>
	<div id="app-nav-placeholder">
	</div>
<% end %>
	
<% @home = false %>
<% @plus_filler = false %>
<% if params[:id].present? && controller.controller_name.eql?("users") then %>
	<% if params[:id].to_i == session[:user_id].to_i then %>
		<% @home = true %>
	<% end %>
<% end %>

<!-- PLUS BUTTON -->
	
<% if !controller.action_name.eql?("edit") && !controller.action_name.eql?("create") && !@home && session[:logged_in] then %>
	<% @plus_filler = true %>
	<a class="btn btn-success col-xs-4 col-xs-offset-4 add-button small-plus" id="plus-button" role="button"> + </a>
<% end %>

<!-- SEARCH BAR -->

<% if session[:logged_in] then %>
	<% if controller.controller_name.eql?("users") && controller.action_name.eql?("index") then %>

			<div class="hidden-search" id="search-bar"> <!-- Search Bar -->
	  			<form action="/users/search_results">
					<div class="input-group" id="add-friends-panel">
	      				<input name="query" type="text" class="form-control" placeholder="Search for friends" id="search-friends-input">
	      				<span class="input-group-btn">
	      					<%= submit_tag "Search", class: "btn btn-success", id: "search-button" %>
	      				</span>
	    			</div><!-- /input-group -->
    			</form>
			</div><!-- /.col-lg-6 -->

		<% if params[:id].to_i == session[:user_id].to_i && !session[:user_id].nil? then %>
			<% at_account_page = true %>
	  		<div class="bt-group btn-group-justified" id="edit-panel">
	  			<a href="/users/edit/<%= params[:id] %>" class="btn btn-info btn-block">Edit Account</a>
	  		</div>
	  	<% elsif params[:id].nil? %>
	  		<% at_friends_page = true %>
	  	<% end %>
	<% elsif %>
		<% if controller.action_name.eql?("search_results") then %>
			<div> <!-- class="col-lg-6" -->
	  			<form action="/users/search_results">
					<div class="input-group" id="add-friends-panel">
	      				<input name="query" type="text" class="form-control" placeholder="Search for friends" id="search-friends-input">
	      				<span class="input-group-btn">
	      					<%= submit_tag "Search", id: "search-button", class: "btn btn-success" %>
	      				</span>
	    			</div><!-- /input-group -->
    			</form>
			</div><!-- /.col-lg-6 -->
		<% end %>
	<% end %>
<% end %>
</div>

<% if @plus_filler then %>
	<div class="plus-filler"></div>
<% end %>

<% if at_account_page || at_friends_page then %>
	<div class="container" id="edit-filler"></div>
<% end %>

<% if controller.action_name.eql?("search_results") then %>
	<div class="container" id="edit-filler"></div>
<% end %>

<!-- NOTICE BANNER -->

<% if flash[:notice].present? then %>
	<div id="notice-banner">
		<%= flash[:notice] %>
	</div>
<% end %>

<%= yield %>

<% if session[:logged_in] && !controller.action_name.eql?("create") && !controller.action_name.eql?("edit") %>

<% else %>
	<div class="navbar-fixed-bottom" id="new-event-placeholder">
	</div>
<% end %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48619321-1', 'cs147-group-website.herokuapp.com');
  ga('send', 'pageview');

</script>
</body>
</html>
