<!DOCTYPE html>
<html>
<head>
  <title>Cs147GroupWebsite</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container" id="app_header">
	<h1 id="website_title">SOCIALIZE</h1>

<% if !session[:user_id].nil? then %>
	<div class="bt-group btn-group-justified" id="logout_panel">
	<% logged_in_user = User.find(session[:user_id]) %>
		<a href="/events/logout" class="btn btn-info btn-block">Hi <%= logged_in_user.first_name %>! <span id="logout_badge" class="badge">Log Out</span></a>
	</div>
<% end %>

<div class="bt-group btn-group-justified" id="app_nav">
	<a href="/events/index" class="btn btn-primary active" id="home_button" role="button">Home <span id="home_badge" class="badge"></span></a>
	<a href="/users/index" class="btn btn-primary" id="friends_button" role="button">Friends <span id="friends_badge" class="badge"></span></a>

	<% home_account = "" %>
	<% if logged_in_user then %>
		<% home_account = logged_in_user.id %>
	<% end %>

	<a href="/users/index/<%= home_account %>" class="btn btn-primary" id="account_button" role="button">Account <span id="account_badge" class="badge"></span></a>
</div>

<% if controller.controller_name.eql?("users") && controller.action_name.eql?("index") %>
	<% if params[:id].to_i == session[:user_id].to_i then %>
		<% at_account_page = true %>
  		<div class="bt-group btn-group-justified" id="logout_panel">
  			<a href="/users/edit/<%= params[:id] %>" class="btn btn-warning btn-block">Edit Account</a>
  		</div>
  	<% end %>
<% end %>
</div>

<% if at_account_page then %>
	<div class="container" id="edit-filler"></div>
<% end %>


<%= yield %>

<nav class="navbar navbar-custom navbar-fixed-bottom" role="navigation">
		<form class="navbar-form" role="add_event" id="add-event-bar">
		  <button type="submit" class="btn btn-primary navbar-btn submit-button-block center-block">Add Event</button>
		</form>
</div>

</body>
</html>
