<!DOCTYPE html>
<html>
<head>
  <title>Cs147GroupWebsite</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
      <script>
    $(function(){
        $.datepicker.setDefaults(
          $.extend($.datepicker.regional[''])
        );
        $('#datepicker').datepicker({
          beforeShow: function(input) {
            $(input).css('background-color','#ff0');
          },
          onSelect: function(dateText, obj) {
            $(this).css('background-color','');
          }
        });
    });
    </script>
</head>
<body>

<div class="container" id="app_header">
	<a href="/events/index"><h1 id="website_title">SOCIALIZE</h1></a>

<% if !session[:user_id].nil? then %>
	<div class="bt-group btn-group-justified" id="logout_panel">
	<% logged_in_user = User.find(session[:user_id]) %>
		<a href="/events/logout" class="btn btn-info btn-block">Hi <%= logged_in_user.first_name %>! <span id="logout_badge" class="badge">Log Out</span></a>
	</div>
<% end %>

<% if session[:logged_in] then %>

	<% home_selected = "" %>
	<% friends_selected ="" %>
	<% account_selected ="" %>
	<% if controller.controller_name.eql?("users") then %>
		<% if params[:id].to_i == session[:user_id].to_i then %>
			<% account_selected = "active" %>
		<% else %>
			<% friends_selected = "active" %>
		<% end %>
	<% else %>
		<% home_selected = "active" %>
	<% end %>

	<div class="bt-group btn-group-justified" id="app_nav">
		<a href="/events/index" class="btn btn-primary <%= home_selected %>" id="home_button" role="button">Home <span id="home_badge" class="badge"></span></a>
		<a href="/users/index" class="btn btn-primary <%= friends_selected %>" id="friends_button" role="button">Friends <span id="friends_badge" class="badge"></span></a>

		<% home_account = "" %>
		<% if logged_in_user then %>
			<% home_account = logged_in_user.id %>
		<% end %>

		<a href="/users/index/<%= home_account %>" class="btn btn-primary <%= account_selected %>" id="account_button" role="button">Account <span id="account_badge" class="badge"></span></a>
	</div>
<% else %>
	<div id="app-nav-placeholder">
	</div>
<% end %>
<% if session[:logged_in] then %>
	<% if controller.controller_name.eql?("users") && controller.action_name.eql?("index") then %>
		<% if params[:id].to_i == session[:user_id].to_i && !session[:user_id].nil? then %>
			<% at_account_page = true %>
	  		<div class="bt-group btn-group-justified" id="edit-panel">
	  			<a href="/users/edit/<%= params[:id] %>" class="btn btn-warning btn-block">Edit Account</a>
	  		</div>
	  	<% elsif params[:id].nil? %>
	  		<% at_friends_page = true %>

	  		<div> <!-- class="col-lg-6" -->
				<div class="input-group" id="add-friends-panel">
      				<input type="text" class="form-control" placeholder="Search for friends" id="search-friends-input">
      				<span class="input-group-btn">
        				<a href="/users/search-results/<%= params[:id] %>" class="btn btn-success">Search</a>
      				</span>
    			</div><!-- /input-group -->
			</div><!-- /.col-lg-6 -->

	  	<% end %>
	<% end %>
<% end %>
</div>

<% if at_account_page || at_friends_page then %>
	<div class="container" id="edit-filler"></div>
<% end %>

<%= yield %>

<% if session[:logged_in] then %>
	<nav class="navbar navbar-custom navbar-fixed-bottom" role="navigation">
		<form class="navbar-form" role="add_event" id="add-event-bar" action="/events/create">
			<button type="submit" class="btn btn-primary navbar-btn center-block" id="submit-button-block">Add Event</button>
		</form>
	</div>
<% else %>
	<div class="navbar-fixed-bottom" id="new-event-placeholder">
	</div>
<% end %>

</body>
</html>
